
/* ==========================================================================
   Large screens and up
   ========================================================================== */

@media screen and (min-width: 800px){

    /* ------------------ Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        margin: 0 12%;
    }

    .l-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
    }

    .l-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5%;
    }

    .l-col-5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5%;
    }

    .l-col-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5%;
    }

    /* ------------------ Header section ------------------ */

    .nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo {
        width: 177px;
    }

    .nav-bar {
        width: 60%;
    }

    .nav-bar__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .meu_item {
        display: flex;
    }

    /* ------------------ Hero Section ------------------ */

    .hero-banner {
        background-color: rgb(218, 218, 218);
    }

    /* remove unrelated layout code outside of media query */
    .hero-content {
        position: relative;
    }

    .hero-minions {
        width: 100%;
        height: 520px;
        display: block;
        object-fit: cover;
    }

    .hero-card {
        position: absolute;
        left: 60px;
        bottom: 50px;
    }

    /* ------------------ Home Page Intro Section ------------------ */

    .hero-title {}

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */

    .footer-intro {
        display: flex;
        flex-direction: row;
    }
}

/* ==========================================================================
   Medium and Tables screens
   ========================================================================== */

@media screen and (min-width: 420px) and (max-width: 800px) {
    /* ------------------ Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .m-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }

    .m-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }

    /* ------------------ Header section ------------------ */

    /* ------------------ Hero Section ------------------ */

    /* ------------------ Home Page Intro Section ------------------ */

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */
}

/* ==========================================================================
    Mobile and small screens
   ========================================================================== */

   .nav-logo {
    width: 177px;
height: 37px;
flex-shrink: 0;
   }