/* ---------- Typography ----------------  */

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    color: #3b3b3b;
    font-size: 2em;
    
}

h2 {
    color: #494949;
    font-size: 1.75em;
}

h3 {
    color: #545454;
    font-size: 1em;
    font-weight: bold;
}

h4 {
    color: #a3a3a3;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    /*it's supposed to be Myriad Pro, but it's not in Google Fonts...*/
    font-size: 0.75em;
    text-align: center;
    font-weight: 500;
}

.nav-bar__menu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.nav-bar__menu a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero-subtext__bold {
    color: #1EAFDE;
}

.our-services p {
    font-family: "Ubuntu", sans-serif;
    color: #939393;
    font-size: 0.75em;
    line-height: 18px;
}

.date__day {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    color: white /* should be white, but for viewing purposes kept it black for now */
}

.date__month-year {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.5em;
    color: white /* should be white, but for viewing purposes kept it black for now */
}

.info__subtext {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7em;
    color: white /* should be white, but for viewing purposes kept it black for now */
}

.portfolio h3, .blog h3 {
    font-weight: 300;
    text-align: left;
    color: white;
}

.post__info p, .project__info p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

.web-footer p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.75em;
    line-height: 18px;
    color: black /* should be white, but for viewing purposes kept it black for now */
}

.footer-content__about p {
    /* color should be white, but kept it black for now */
    font-family: "Ubuntu", sans-serif;
    font-size: 0,75em;
    line-height: 1em;
}

footer h3 {
    font-size: 0.9em;
    font-weight: 500;
}

.about__title {
    color: #FFB901;
}

.insta__title {
    color: #DE6262;
}

.mastodon__title {
    color: #19B2DE;
}

.track__title {
    color: black; /* should be white, but for viewing purposes kept it black for now */
}

.footer-content__mastodon p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.5em;
    line-height: 14px;
}

.footer-content__mastodon a {
    color: #1BADE6;
    text-decoration: none;
}

/* ---------------- background/box colors ---------------- */
/* .home-page__footer {
    background-color: #0E2E4E;
} */

.menu__item {
    width: 8.3em;
    height: 6em;
}

.nav-bar__menu li:nth-child(1) {
    background-color: #25C389;
}

.nav-bar__menu li:nth-child(2) {
    background-color: #FFB901;
}

.nav-bar__menu li:nth-child(3) {
    background-color: #DE6262;
}

.nav-bar__menu li:nth-child(4) {
    background-color: #19B2DE;
}

.nav-bar__menu li:nth-child(5) {
    background-color: #265787;
}

.boxes__colored {
    width: 2em;
    height: 2em;
    margin: 0.6em;
    border-radius: 2px;
}

.track__boxes div:nth-child(1) { /* I've tried two ways of using nth child, they both work, but i wanna ask wim later which one we should use */
    background-color: #527CC4;
}

.track__boxes .boxes__colored:nth-child(2) {
    background-color: #E46145;
}

.track__boxes div:nth-child(3) {
    background-color: #00B0E2;
}

.track__boxes div:nth-child(4) {
    background-color: #F6679C;
}

.track__boxes div:nth-child(5) {
    background-color: #FFB901;
}

/* Blog Thumbnails */

.blog-content__post {
    position: relative;
    width: 100%;
}

.post__img {
    display: block;
    width: 100%;
    height: auto;
}

.post__date {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #D8605F;
    width: 56px;
    height: 34px;
    text-align: center;
}

.post__date p{
    margin: 0;
}

.date__day {
    line-height: 1em;
}

.post__info {
    position: absolute;
    background-color: #1596BD;
    width: 100%;
    height: 10%;
}

.post__info .info__grey-box {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

/* Portfolio Thumbnails hovers */

.portfolio-content__project {
    position: relative;
    width: 100%;
}

.project__img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-content__project:hover .project__layer {
    opacity: 0.8;
}

.project__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #19B2DE;
}

.project__info {
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.info__title {
    line-height: 0.1em;
}

.portfolio .info__grey-box {
    position: absolute;
    width: 1.75em;
    height: 1.75em;
    background-color: #1596BD;
    bottom: 5%;
    right: 10%;
    /* 1596BD */
}

.info__grey-box {
    width: 1.75em;
    height: 1.75em;
    background-color: #1596BD;
}

.home-page__footer {
    background-color: #0E2E4E;
}

/* ==========================================================================
   Large screens and up
   ========================================================================== */

   @media screen and (min-width: 800px){

    /* ------------------ Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        margin: 0 12%;
    }

    .l-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
    }

    .l-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5%;
    }

    .l-col-5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5%;
    }

    .l-col-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5%;
    }

    /* ------------------ Header section ------------------ */

    .nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo {
        width: 177px;
    }

    .nav-bar {
        width: 60%;
    }

    .nav-bar__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .meu_item {
        display: flex;
    }

    /* ------------------ Hero Section ------------------ */

    .hero-banner {
        background-color: rgb(218, 218, 218);
    }

    /* remove unrelated layout code outside of media query */
    .hero-content {
        position: relative;
    }

    .hero-minions {
        width: 100%;
        height: 520px;
        display: block;
        object-fit: cover;
    }

    .hero-card {
        position: absolute;
        left: 60px;
        bottom: 50px;
    }

    /* ------------------ Home Page Intro Section ------------------ */

    .hero-title {}

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */

    .footer-intro {
        display: flex;
        flex-direction: row;
    }
}

/* ==========================================================================
   Medium and Tables screens
   ========================================================================== */

@media screen and (min-width: 420px) and (max-width: 800px) {
    /* ------------------ Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .m-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }

    .m-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }

    /* ------------------ Header section ------------------ */

    /* ------------------ Hero Section ------------------ */

    /* ------------------ Home Page Intro Section ------------------ */

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */
}

/* ==========================================================================
    Mobile and small screens
   ========================================================================== */
