/* ------------------- Typography General-------------------------  */

h1,
h2,
h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    color: #3b3b3b;
    font-size: 2em;
}

h2 {
    color: #494949;
    font-size: 1.75em;
    margin: 0%;
}

h3 {
    color: #545454;
    font-size: 1em;
    font-weight: bold;
}

h4 {
    color: #a3a3a3;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    /*it's supposed to be Myriad Pro, but it's not in Google Fonts...*/
    font-size: 0.75em;
    text-align: center;
    font-weight: 500;
}

/* ----------------------Main, Body, Footer Sections------------------------ */

.page-home{
    margin: 0;
}

.page-home__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* ------------------- Nav Header -------------------------  */

.nav-bar__menu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 1em;
    
}

.nav-bar__menu a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    list-style-type: none;
}

.menu__item {
    width: 100%;
    height: 68px;
    padding: 14px 0 14px 14px;
    display: flex;
    align-items: flex-end;
}

.nav-bar__menu li:nth-child(1) {
    background-color: #25C389;
}

.nav-bar__menu li:nth-child(2) {
    background-color: #FFB901;
}

.nav-bar__menu li:nth-child(3) {
    background-color: #DE6262;
}

.nav-bar__menu li:nth-child(4) {
    background-color: #19B2DE;
}

.nav-bar__menu li:nth-child(5) {
    background-color: #265787;
}

/* ------------------------- Hero Banner Section -------------------------  */

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 60px;
    bottom: 150px;
    gap: 0px;
}

/* .hero-card__text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
flex-wrap: wrap;
margin: 2px;
}  */

.hero-card :first-child {
    background-color: white;
    border-left: 7.7px solid #186AA2
}

.hero-card :nth-child(2) {
    background-color: white;
    border-left: 7.7px solid#DE6262;
}

.hero-card :nth-child(3) {
    background-color: white;
    border-left: 7.7px solid#FFB901
}

.hero-subtext__bold {
    color: #1EAFDE;
}

.hero-banner {
    background-color: rgb(218, 218, 218);
}

/* remove unrelated layout code outside of media query */
.hero-content {
    position: relative;
}

.hero-minions {
    width: 100%;
    height: 520px;
    display: block;
    object-fit: cover;
}

/* ------------------------- Our Services Section -------------------------  */

.our-services p {
    font-family: "Ubuntu", sans-serif;
    color: #939393;
    font-size: 0.75em;
    line-height: 18px;
}

/* ------------------------- Blog Section -------------------------  */

.date__day {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    color: white
        /* should be white, but for viewing purposes kept it black for now */
}

.date__month-year {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.5em;
    color: white
        /* should be white, but for viewing purposes kept it black for now */
}

.info__subtext {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7em;
    color: white
        /* should be white, but for viewing purposes kept it black for now */
}


.post__info p,
.project__info p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

/* ------------------------- Portfolio Section -------------------------  */

.portfolio-content__project {
    position: relative;
    width: 100%;
}

.project__img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-content__project:hover .project__layer {
    opacity: 0.8;
}

.project__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #19B2DE;
}

.project__info {
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.info__title {
    line-height: 0.1em;
}

.portfolio .info__grey-box {
    position: absolute;
    width: 1.75em;
    height: 1.75em;
    background-color: #1596BD;
    bottom: 5%;
    right: 10%;
    /* 1596BD */
}

.info__grey-box {
    width: 1.75em;
    height: 1.75em;
    background-color: #1596BD;
}

/* ------------------------- Our Clients Section -------------------------  */

.our-clients {
    display: flex;
    justify-content: center;
}

.clients-content {
    display: flex;
    gap: 16px;
}

.clients-content__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    padding: 10px;
    height: 108px;
    width: 160px;
}

/* ------------------------- Footer Section -------------------------  */

.web-footer p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.75em;
    line-height: 18px;
    color: white;
}

.footer-content__about p {
    /* color should be white, but kept it black for now */
    font-family: "Ubuntu", sans-serif;
    font-size: 0, 75em;
    line-height: 1em;
}

footer h3 {
    font-size: 0.9em;
    font-weight: 500;
}

.home-page__footer {
    background-color: #0E2E4E;
    padding-top: 32px;
}

.about__title {
    color: #FFB901;
    width: 232px;
}

.insta__title {
    color: #DE6262;
    width: 232px;
}

.mastodon__title {
    color: #19B2DE;
    width: 232px;
}

.track__title {
    color: white;
    width: 146px;
}

.footer-content__mastodon p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.5em;
    line-height: 14px;
}

.footer-content__mastodon a {
    color: #1BADE6;
    text-decoration: none;
}

.boxes__colored {
    width: 2em;
    height: 2em;
    border-radius: 2px;
}

.track__boxes div:nth-child(1) {
    /* I've tried two ways of using nth child, they both work, but i wanna ask wim later which one we should use */
    background-color: #527CC4;
}

.track__boxes .boxes__colored:nth-child(2) {
    background-color: #E46145;
}

.track__boxes div:nth-child(3) {
    background-color: #00B0E2;
}

.track__boxes div:nth-child(4) {
    background-color: #F6679C;
}

.track__boxes div:nth-child(5) {
    background-color: #FFB901;
}

/* Blog Thumbnails */

.blog-content__post {
    position: relative;
    width: 100%;
}

.post__img {
    display: block;
    width: 100%;
    height: auto;
}

.post__date {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #D8605F;
    width: 56px;
    height: 34px;
    text-align: center;
}

.post__date p{
    margin: 0;
}

.date__day {
    line-height: 1em;
}

.post__info {
    position: absolute;
    background-color: #1596BD;
    width: 100%;
    height: 10%;
}

.post__info .info__grey-box {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

/* Portfolio Thumbnails hovers */

.portfolio-content__project {
    position: relative;
    width: 100%;
}

.project__img {
    display: block;
    width: 100%;
    height: auto;
}
  
.footer-intro__alf {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 100%;
}

.footer-intro {
    display: flex;
    gap: 24px;
    position: relative;
}

.footer-intro hr{
    position: absolute;
    bottom: -12px;
    left: 120px;
    background: #FFB901;
    width: 118px;
    height: 2px;
}

.track__boxes, .insta__pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.pics__minion-selfie {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.about__title, .insta__title, .mastodon__title, .track__title {
    text-align: left;
    padding: 0 0 10px 0;
    border-bottom: 1px solid white;
}

/* ------------------------------------------------------------------------ */


/* ==========================================================================
    Large screens and up
   ========================================================================== */

@media screen and (min-width: 800px) {

    /* ----------------- Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        margin: 0 12%;
    }

    .l-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .l-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .l-col-5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .l-col-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .l-col-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    /* ------------------ Header section ------------------ */

    .nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: bottom;
    }

    .nav-logo {
        width: 177px;
    }

    .nav-bar {
        width: 65%;
        max-width: 672px;
        /* min-width: 672px; */
    }

    .nav-bar__menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0%;
    }

    /* ------------------ Main Section ------------------ */
    .page-home__content {
        margin: 0 0 64px 0;
    }

    /* ------------------ Hero Section ------------------ */

    .hero-card {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 55px;
        bottom: 135px;
        gap: 6px;
    }

    .hero-card__text {
        display: flex;
        align-items: center;
        margin: 0%;
        padding: 0 0 0 20px;
        height: 64px;
        font-family: "Ubuntu", sans-serif;
        font-size: 24px;
        font-weight: 400;
    }

    .hero-card :first-child {
        width: 6em;
    }

    .hero-card :nth-child(2) {
        width: 8.5em;
    }

    .hero-card :nth-child(3) {
        width: 12em;
    }

    /* ------------------ Home Page Intro Section ------------------ */

    .hero-title {}

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */
    .footer-content__about {
        grid-column: 1 / 4;
    }

    .footer-content__insta {
        grid-column: 4 / 7;
    }

    .footer-content__mastodon {
        grid-column: 7 / 11;
    }

    .footer-content__track {
        grid-column: 11 / 13;
    }

    .footer-content{
        
    }
}

/* ==========================================================================
    Medium and Tables screens
   ========================================================================== */

@media screen and (min-width: 430px) and (max-width: 800px) {
    /* ------------------ Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .m-row-span{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .m-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .m-col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .m-col-6 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }

    /* ------------------ Main Section ------------------ */
    .page-home__content {
        margin: 0 0 64px 0;
    }

    /* ------------------ Header section ------------------ */
    .nav-header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .nav-logo {
        width: 177px;
        ;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar__menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0%;
    }

    /* ------------------ Hero Section ------------------ */
    .hero-card {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 32px;
        bottom: 64px;
        gap: 6px;
    }

    .hero-card__text {
        display: flex;
        align-items: center;
        margin: 0%;
        padding: 0 0 0 20px;
        height: 44px;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .hero-card :first-child {
        width: 6em;
    }

    .hero-card :nth-child(2) {
        width: 8.5em;
    }

    .hero-card :nth-child(3) {
        width: 12em;
    }

    /* ------------------ Home Page Intro Section ------------------ */

    /* ------------------ Services Section ------------------ */

    /* ------------------ Blog Section ------------------ */

    /* ------------------ Portfolio Section ------------------ */

    /* ------------------ Clients Section ------------------ */

    /* ---------------- Footer General Section ---------------- */

    /* ---------------- Footer Intro Section ---------------- */
    .footer-content__about {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }
    
    .footer-content__insta {
        grid-row: 1 / 2;
        grid-column: 4 / 7;
    }
    
    .footer-content__mastodon {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
    }
    
    .footer-content__track {
        grid-row: 2 / 3;
        grid-column: 5 / 7;
    }

}

/* ==========================================================================
    Mobile and small screens
   ========================================================================== */
@media screen and (max-width: 430px) {

    /* ----------------- Grid and Overall ------------------ */

    .l-row-span {
        display: grid;
        grid-template-rows: 1fr;
        margin: 0 2%;
    }

    .s-row-span {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    /* ------------------ Nav Header ------------------ */
    .nav-bar {
        display: none;
    }

    /* ------------------ Main Section ------------------ */
    .page-home__content {
        margin: 0 0 48px 0;
    }

    .hero-banner {
        display: none;
    }

    .clients {
        display: none;
    }

    /* ------------------ Footer Section ------------------ */
    .footer-content__about, .footer-content__insta{
        display: none;
    }

    .footer-content__track{
        order: 1;
        padding: 0 0 0 24px;
    }

    .footer-content__mastodon{
        order: 2;
    }
}

/* @media screen and (min-width: 480px) and (max-width: 768px) {}
@media (max-width: 480px)  {} */